/* CABEÇALHO*/


*{ 	margin: 0;
	padding: 0;

}

body {

	font-size: 14px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #fff;
	
}

	
	a{
		text-decoration: none;
		padding: 10px 13px;
		font-size: 16px;

	}

	a:link{
		color: black;
	}
	a:visited{
		color: black;
	}
	/*a:hover{
		color: white;
		background: #FF0000;
		 
	}
	a:active{
		color: red;
	}
*/



#inicio{
		/*float: left;
		margin-right: 0, 35px;*/

		background: #eeeeee;
		height: 25px;
		font-family: FoundryMonoline;
		font-size: 12px;
		color:#707070

}

#navegação{
		background: #FFF;
		height: 85px;
		border-bottom: 1px red solid;
}

#area{
		/*width: 1100px;*/
		margin right: 0px 35px;

}

#logo{
		float: left;
		margin-right: 80px;
		margin-left: 100px;
		margin-top: 0px;
}

#menu{
		/*float: center ;*/
		padding: 35px 0px;

}

#selos {
		position:relative;
		bottom: 100px;
}

#paragrafo_1 {
		margin-left: 95px;
		margin-top: -55px;
		
}
#p1 {
		font-family: FoundryMonoline-ExBdIta;
		font-size: 34px;
		font-style: italic;
		margin-bottom: 35px;

}

#p1_1	{	
		font-family: FoundryMonoline-Regular;
		font-size: 18px;
		width: 890px;
		margin-top: 35px;
		margin-bottom: 50px;
}


#degrade {
		margin-top: -245px;	
}

#degradee{
		width: 1366px;
		height: 245px;
		background-image: linear-gradient(white, black);
		margin-top: -245px;
}
#p2 {
		color:white;
		font-family: FoundryMonoline-ExBdIta;
		font-size: 34px;
		font-style: italic;
		margin-top: -100px;
		margin-left: 95px;
}

#p2_2	{	
		font-family: FoundryMonoline-Regular;
		font-size: 18px;
		width: 890px;
		margin-top: 3px;
		margin-left: 95px;
		color: white;
		margin-bottom: 70px;
}

#box {	
		
		border:1px solid #D5D5D5;
		margin-left: 95px;
		width: 260px;
		height: 180px;
		float: left;
		padding: 5px;

}
#titulo{

		margin-top: 12px;
		font-family: FoundryMonoline-ExBdIta;
		font-size: 20px;
		font-style: italic;
		margin-bottom: 9px;
}
#titulo2{
		font-family: FoundryMonoline;
		font-size: 14px;

}

#box1 {
		margin-left: 95px;

}

#boximg{
		position: relative;
		left: 95px;

}

#boximg2{
		margin-left: 35px;


}

#boximg3 {
		margin-left: 35px;

}
.clear: {
		clear:both;

	}


/*#rolagem {
		margin-left: 495px;
}*/
#p3_0 {
		width: 890px;
		margin-left: 95px;
}

#converse_agora{
		position: fixed;
		bottom: 20px;
		left: 115px;
	

}
